<div class="modal-header {{data.type}}">
  <h4>
    <i class="margin-right {{data.options.icon}}"></i>
    {{data.header}}
  </h4>
  <a class="btn button-modal-close" ng-click="$dismiss()"><i class="fa fa-remove"></i></a>
</div>

<div class="modal-body">


  <div class="user" ng-show="data.item._user && data.item._user.name">
    <h3>User</h3>
    <div class="user-info-modal clearfix">
      <img ng-show="data.item._user.image" ng-src="{{data.item._user.image}}" alt="{{data.item._user.name}}"/>
      <div ng-class="{'with-image': data.item._user.image}">
        <h4>{{data.item._user.name}}</h4>
        <p>{{data.item._user.email}}</p>
      </div>
    </div>
    <hr/>
  </div>

  <h3 class="text-center">Items</h3>
  <table class="table">
    <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Amount</th>
      <th>Price</th>
      <th>Total</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-class="{'dish-row': item._item.isSnack === false}" ng-repeat="item in data.item._items">
      <td><i ng-class="{'fa-spoon': item._item.isSnack === true, 'fa-cutlery': item._item.isSnack === false}" class="fa"></i></td>
      <td>{{item._item.title}}</td>
      <td>{{item.amount}}</td>
      <td>{{item._item.price | number:2}} €</td>
      <td>{{item.amount * item._item.price | number:2}} €</td>
    </tr>
    </tbody>
  </table>

  <h4 class="total">Total: {{data.item.amount}} €</h4>
</div>

<div class="modal-footer">
  <p class="text-center">
    <button ng-repeat="button in data.buttons" class="btn" ng-class="button.class" ng-click="button.click($event)">{{button.text}}</button>
  </p>
</div>
