<div class="modal-header {{data.type}}">
  <h4>
    <i class="margin-right {{data.options.icon}}"></i>
    {{data.header}}
  </h4>
  <a href="" class="btn button-modal-close" ng-click="$dismiss()"><i class="fa fa-remove"></i></a>
</div>

<div class="modal-body">
  <form name="itemForm" ng-submit="submit(itemForm)" novalidate>
    <div class="form-group" ng-class="{ 'has-error' : itemForm.title.$invalid && !itemForm.title.$pristine }">
      <label>Title</label>
      <input class="form-control" type="text" name="title" ng-model="data.item.title" />
      <p ng-show="itemForm.title.$invalid && !itemForm.title.$pristine" class="help-block">Title required.</p>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : itemForm.description.$invalid && !itemForm.description.$pristine }">
      <label>Description</label>
      <textarea class="form-control" type="text" name="description" ng-model="data.item.description"></textarea>
      <p ng-show="itemForm.description.$invalid && !itemForm.description.$pristine" class="help-block">Description required.</p>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : itemForm.description.$invalid && !itemForm.description.$pristine }">
      <label>Price (€)</label>
      <input class="form-control" type="text" name="price" ng-model="data.item.price" />
      <p ng-show="itemForm.description.$invalid && !itemForm.description.$pristine" class="help-block">Description required.</p>
    </div>



    <p class="text-center">
      <button class="btn btn-default" ng-disabled="itemForm.$invalid" type="submit">
        OK
      </button>
    </p>
  </form>
</div>
