<div class="modal-header {{data.type}}">
  <h4>
    <i class="margin-right {{data.options.icon}}"></i>
    {{data.header}}
  </h4>
  <a href="" class="btn button-modal-close" ng-click="$dismiss()"><i class="fa fa-remove"></i></a>
</div>

<div class="modal-body">



  <form name="itemForm" ng-submit="submit(itemForm)" novalidate>
    <div ng-controller="FileUploadCtrl">
      <div class="btn btn-default" ngf-select ngf-change="upload($files)">Upload</div>

      <div class="form-group">
        <label>Image</label>

        <input class="form-control" type="text" name="title" ng-model="data.item.image" required disabled/>
        <p ng-show="itemForm.image.$invalid && !itemForm.image.$pristine" class="help-block">Image required.</p>
      </div>
      Image thumbnail: <img ngf-src="files[0]">
    </div>


    <div class="form-group" ng-class="{ 'has-error' : itemForm.title.$invalid && !itemForm.title.$pristine }">
      <label>Title</label>
      <input class="form-control" type="text" name="title" ng-model="data.item.title" required/>
      <p ng-show="itemForm.title.$invalid && !itemForm.title.$pristine" class="help-block">Title required.</p>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : itemForm.description.$invalid && !itemForm.description.$pristine }">
      <label>Description</label>
      <textarea class="form-control" type="text" name="description" ng-model="data.item.description" required></textarea>
      <p ng-show="itemForm.description.$invalid && !itemForm.description.$pristine" class="help-block">Description required.</p>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : itemForm.price.$invalid && !itemForm.price.$pristine }">
      <label>Price (€)</label>
      <input class="form-control" type="text" name="price" ng-model="data.item.price" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" required/>
      <p ng-show="itemForm.price.$invalid && !itemForm.price.$pristine" class="help-block">Enter price like 89.89 € (2 decimals max, point as a decimal separator)</p>
    </div>



    <p class="text-center">
      <button class="btn btn-default" ng-disabled="itemForm.$invalid" type="submit">
        OK
      </button>

      <button ng-show="data.options.mode==='update'" class="btn btn-danger" ng-click="data.options.mode='delete'; $close(data);">Delete</button>
    </p>
  </form>
</div>
