<div class="modal-header {{data.type}}">
  <h4>
    <i class="margin-right {{data.options.icon}}"></i>
    {{data.header}}
  </h4>
  <a href="" class="btn button-modal-close" ng-click="$dismiss()"><i class="fa fa-remove"></i></a>
</div>

<div class="modal-body">
  <form name="itemForm" ng-submit="submit(itemForm)" novalidate>
    <div class="form-group">
      <label>Title</label>
      <input type="text" name="title" ng-model="data.item.title" />
      <p ng-show="itemForm.title.$invalid && !itemForm.title.$pristine" class="help-block">Title required.</p>
    </div>

    <textarea type="text" ng-model="data.item.description"></textarea><br />
    <input type="text" ng-model="data.item.price" /><br />

    <p class="text-center">
      <button class="btn btn-default" ng-disabled="itemForm.$invalid" type="submit">
        OK
      </button>
    </p>
  </form>
</div>
