<div class="modal-header {{data.type}}">
  <h4>
    <i class="margin-right {{data.options.icon}}"></i>
    {{data.header}}
  </h4>
  <a class="btn button-modal-close" ng-click="$dismiss()"><i class="fa fa-remove"></i></a>
</div>

<div class="modal-body">
  <p class="text-ml" ng-bind-html="data.msg | unsafe"></p>
</div>

<div class="modal-footer">
  <p class="text-center">
    <button ng-repeat="button in data.buttons" class="btn" ng-class="button.class" ng-click="button.click($event)">{{button.text}}</button>
  </p>
</div>
