@font-face {
  font-family: 'restaurant';
  src: url('../assets/fonts/Restaurant.eot');
  src: url('../assets/fonts/Restaurant.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/Restaurant.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



// ***** Colors

@cl-main: #c23;




// ***** Helpers

.padding-v{ padding-top: 10px; padding-bottom: 10px;}
