

<div class="container">

  <section class="controls">
    <a class="btn btn-primary" href="" ng-click="OpenArticleModal({}, 'add')"><i class="fa fa-plus"></i> New</a>
  </section>

  <section class="manager-articles">

    <div class="clearfix">
      <div class="col-md-3 col-sm-4 col-xs-6" ng-repeat="snack in snacks | orderBy:'-'">
        <div class="article-card">
          <img src="/uploads/{{snack.image}}" alt="" ng-click="OpenDetail(snack)"/>
          <p class="price">{{snack.price}} €</p>
          <div class="caption">
            <h4 class="title">{{snack.title}}</h4>
          </div>

          <a class="btn btn-edit-card" href="" ng-click="OpenArticleModal(snack, 'update')"><i class="fa fa-pencil"></i></a>
        </div>
      </div>
    </div>

  </section>
</div>

