<div class="container padding-bottom">

  <div class="order-control" ng-show="config.someSelected">
    <div class="wrap">
      <a class="btn btn-lg btn-danger" ng-click="DoOrder()">Order <i class="fa fa-chevron-right"></i></a>
    </div>
  </div>

  <section class="weekly-dishes">
    <div class="dishes-container clearfix">
      <slider articles="dishes" dish="selection.dish" slider-height="340"  slider-detail="OpenDetail"></slider>
    </div>
  </section>

  <hr/>

  <section class="snacks">
    <h2>Snacks</h2>

    <div class="snacks-container clearfix">
      <div class="col-md-3 col-sm-4 col-xs-6" ng-repeat="snack in snacks | orderBy:'-'">
        <div class="article-public article-snack" ng-class="{selected: snack.amount}">
          <div class="box">
            <h4>{{snack.title}}</h4>
            <img ng-src="/uploads/{{snack.image}}" ng-click="OpenDetail(snack)"/>
            <span class="price">{{snack.price}}€</span>
          </div>
          <div class="controls">
            <a class="btn button-outline" ng-class="{disabled: !snack.amount}" ng-click="substract($index)" href="#"><i class="icon-minus"></i></a>
            <span>{{ snack.amount }}</span>
            <a class="btn button-outline" ng-click="sum($index)" href="#"><i class="icon-plus"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
